-i https://pypi.org/simple
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
cffi
cryptography
frozenlist
githubkit[all]
h11
hishel
httpcore
httpx
idna
markdown2
multidict
mypy
mypy-extensions
propcache
pycparser
pydantic
pydantic-core
pyjwt[crypto]
pyside6
pyside6-addons
pyside6-essentials
qasync
shiboken6
sniffio
typing-extensions
yarl
aiogithubapi
pyinstaller
pyinstaller-hooks-contrib
